/*************************************************************************************
*  HELPERS
*
*
*  Useful functionality used within the stylesheet
**************************************************************************************/

/**
 *  FLOATS
 */

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clearfix {
  ::after {
    clear: both;
    content: '';
    display: table;
  }
}

/**
 *  OTHERS
 */

.no-wrap {
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.opacity-low {
  opacity: 0.5;
}

.rounded {
  border-radius: 100%;
}
