.blog-footer {
  color: $white;
  margin-bottom: 0;
  padding-bottom: 0.25rem;
  text-align: center;
  background-color: $black0;
  border-top: 0.125rem solid $accent0;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
footer {
  background: $black0;
  margin: 0;
  text-align: center;
  display: flex;
  position: relative;
  width: 100%;
}
