/*********************************************************************
*  LINKS
*
*
*
*  Defines and styles links using extends
 *******************************************************************/

.url:hover {
  @extend %btn-3;
  text-decoration: none;
}
.url:active {
  @extend %btn-3;
  text-decoration: none;
}
.url:visited {
  @extend %btn-1;
  text-decoration: none;
}
