/********************************************************************
 *  NOTIFICATION
 *
 *******************************************************************/

.notification {
  border-radius: $bdr-notification;
  color: $c-notification;
  margin-bottom: $mb-notification;
  padding: $p-notification;

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @each $type, $color in $map {
    &--#{$type} {
      background-color: $color;
    }
  }
}
