/* Sidebar modules for boxing content */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  border-top: $accent2 solid 1rem;
  border-bottom: $accent2 solid 1rem;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  background-color: $gray;
  color: $white;
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

.blog-header {
  padding-bottom: 1.25rem;
  margin-top: 20%;
  border-bottom: 0.05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: normal;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}
