@import url("https://fonts.googleapis.com/css?family=Alatsi|Do+Hyeon|Encode+Sans+Condensed|Righteous|Titan+One&display=swap");

$ff-text0: "Alatsi", Ubuntu, sans-serif;
$ff-text1: "Encode Sans Condensed", serif;

$ff-title0: "Titan One", sans-serif;
$ff-title1: "Righteous", serif;

$ff-subtitle: "Do Hyeon", monospace;

$fz-h1: 4rem;
$fz-h2: 2.3rem;
$fz-h3: 1.8rem;
$fz-h4: 1.4rem;
$fz-h5: 1.2rem;
$fz-h6: 1rem;
<<<<<<< HEAD
=======

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}
>>>>>>> 36600ba... almost there
