/*
This is where SCSS variables are defined
 */

$black0: #3c3f4c;
$black1: #282a33;
$black2: #2f3243;

$white: #ebf0f8;
$white1: #eeeeee;
$white2: #f1f1f1;

$accent0: #428bca;
$accent1: #5ab2ff;
$accent3: #007be6;
