/*
This is where SCSS variables are defined
 */

$black0: #3C3F4C;
$black1: #282a33;
$black2: #2f3243;

$white: #ebf0f8;
$white1: #eeeeee;
$white2: #f1f1f1;

$accent0: #428BCA;
$accent1: #5AB2FF;
$accent3: #007BE6