.btn{
  border-radius: 10px;
  border: solid $white 0.25rem;
  text-align: center;
  display: inline-flex;
  color: $white;
  font-family: $ff-subtitle;
  font-size: $fz-h4;
  margin-left: 3rem;

}
.btn:hover,
.btn:active,
.btn:focus{
  color: $black0;
  border-color: $black0;
}

@media (max-width: 48em) {
  .btn{
    display: block;
    font-size: 80%;
  }
}

.btn-group {
  justify-self: center;
  align-self: center;
}