.btn {
  border-radius: 10px;
  border: solid $white 0.25rem;
  text-align: center;
  display: inline-flex;
  color: $white;
  font-family: $ff-subtitle;
  font-size: $fz-h4;
  margin-left: 3rem;
}

@media (max-width: 48em) {
  .btn {
    display: block;
    font-size: 80%;
  }
}


/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
  font-family: $ff-subtitle;
}
.nav-link:hover,
.nav-link:focus {
  color: $black0;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */

.nav-link.active {
  color: #fff;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -0.3rem;
  vertical-align: middle;
  content: "";
  border-right: 0.3rem solid transparent;
  border-bottom: 0.3rem solid;
  border-left: 0.3rem solid transparent;
}
