
@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

body {
  font-family:$ff-text0;
  color: $black0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $ff-title0;
  font-weight: normal;
  color: $black0;
}
