/*************************************************************************************
*  BLOG POST PAGE
*
*
*
**************************************************************************************/

.blog-post {
  @include animate(fadeInDown, 1s, 20, 1);
  padding: 2rem;
  background: $white;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-left: 0.5rem solid $primary;
  border-right: 0.5rem solid $gray;
  border-bottom: 0.5rem solid $light;
  border-top: 0.25rem solid $primary;
  h1 {
    font-family: $ff-sub;
    font-size: 5rem;
    color: $primary;
    text-align: right;
  }
  .blog-hr {
    border-bottom: 0.5rem $light solid;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: $ff-title;
    margin-top: 3.5rem;
    border-bottom: 0.25rem solid $primary;
    color: $light;
  }
  h3 {
    font-family: $ff-title;
    color: $light;
    font-size: 2.5rem;
    text-align: right;
    margin-bottom: 2rem;
  }
  h4 {
    font-family: $ff-title;
    color: $light;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  a {
    color: $white;
    text-decoration: none;

    &:hover {
      background: $white;
      color: $light !important;
      border: none;
    }
  }
  #date {
    font-size: 1.2rem;
    color: $light;
    text-align: left;
    font-family: $ff-mono;
  }

  ul {
    li {
      font-family: $ff-sub;
      font-size: 1.25rem;
      margin-left: 1rem;
      color: $light;
      width: 40%;
    }
  }
  .nav {
    list-style: none;
    align-content: center;
    align-items: center;
    .nav-btn {
      display: inline-block;
      width: 40% !important;
      margin-left: 7%;

      &:hover {
        text-decoration: none;
        background: $primary;
      }
    }
  }
  img {
    width: 75%;
    margin-left: 12%;
    margin-right: 12%;
    outline: 0.5rem solid $light;
  }
  p {
    width: 85%;
    font-family: $ff-sub;
    margin-left: 1.5rem;
    font-size: 1.25rem;
  }
}
